<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.mapper.ChatRoomMessageMapper">
    <resultMap id="ChatRoom" type="com.script.entity.Chat">
        <result column="date" property="date"/>
        <result column="content" property="content"/>
        <association property="user" column="user_id" select="selectUserById"/>
    </resultMap>

    <select id="selectUserById" resultType="com.script.entity.User">
        SELECT * FROM user WHERE id = #{user}
    </select>

    <delete id="clear">
        DELETE FROM chatroom
    </delete>

    <insert id="addChatRoomMessage" parameterType="java.util.Map">
        INSERT INTO
        chatroom(user_id, lng, lat, date, content)
        VALUES (#{user_id},#{lng},#{lat},#{date},#{content})
    </insert>
    <select id="selectChatRoomMessageAfterDate" parameterType="java.util.Map" resultMap="ChatRoom">
        SELECT *
        FROM chatroom
        WHERE <![CDATA[ date > #{date}  AND
        (lng BETWEEN #{lng_min} AND #{lng_max})
         AND (lat BETWEEN #{lat_min} AND #{lat_max}) ORDER BY date ASC ]]>

    </select>
</mapper>