<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.mapper.UserMapper">
    <resultMap id="User" type="com.script.entity.User">
        <result column="username" property="username"/>
        <result property="nickname" column="nickname" />
        <result property="gender" column="gender"/>
        <result property="address" column="address"/>
        <result property="hobby" column="hobby"/>
        <result property="sign" column="sign"/>
    </resultMap>
    <select id="selectUserByName" parameterType="String" resultMap="User">
        select * from users u where u.name = #{username}
    </select>
</mapper>